html {
	font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	display: grid;
	grid-template-columns: 16% 10% 15% 10% 9% 7% 7% 8% 9% 9%;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 5px;
	background-color: #808080;
	border-radius: 5px;
	position: relative;
	top: initial;
	width: 90%;
	z-index: 99999;
}

.sticky-header {
	position: fixed;
	width: 90%;
	top: 0;
	background-color: #808080;
}

h1 {
	justify-self: left;
}

form {
	text-align: center;
}

.typesList {
	border: 3px solid #0B2463;
	border-radius: 5px;
	padding: 3px;
	margin: 10px;
	text-align: center;
	width: 80px;
	height: 35px;
}

.search {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	margin-left: 480px;
	margin-right: 480px;
}

.search-bar {
	margin: 20px;
	border: 3px solid #0B2463;
	border-radius: 5px;
	padding-left: 5px;
}

.search-button {
	margin: 20px;
	border: 3px solid #0B2463;
	border-radius: 5px;
	background-color: white;
}

.loginButton {
	text-decoration: none;
	color: black;
	border: 3px solid #0B2463;
	border-radius: 5px;
	padding: 5px;
	font-size: 22px;
}

.headingButtons {
	display: flex;
	gap: 10px;
}

.welcomeText {
	font-size: 20px;
	margin-left: auto;
	margin-right: 10px;
}